In [28]:
import requests
import pandas as pd

In [29]:
req = requests.get('https://en.wikipedia.org/wiki/Harvard_University')

In [30]:
page = req.text

In [31]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(req.text, 'html.parser')

In [32]:
soup.table['class']

['infobox', 'vcard']

In [33]:
table_class = [class_ for class_ in soup.table['class']]

In [34]:
print(table_class)

['infobox', 'vcard']

In [35]:
table_data = soup.find_all('table')

In [36]:
for i in table_data:
    print(i.get('class'))

['infobox', 'vcard']
['toccolours']
['infobox']
['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright']
['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright']
['wikitable']
['box-Cleanup_gallery', 'plainlinks', 'metadata', 'ambox', 'ambox-style']
['metadata', 'mbox-small']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'navbox-subgroup']
['nowraplinks', 'hlist', 'navbox-inner']

In [92]:
result = soup.find_all('i')
result1 = result[0].text
result1

'Universitas Harvardiana'

In [93]:
results = soup.find_all('table', attrs = {'style': "text-align:center; float:right; font-size:85%; margin-right:2em;"})

In [94]:
table_html = results[0].text
table_html

'\nDemographics of student body (Fall 2019)[159][160][161][162]\n\n\n\nUndergrad\nGrad/prof\nUS census\n\n\nAsian\n\n21%\n13%\n5%\n\n\nBlack\n\n9%\n5%\n12%\n\n\nHispanic or Latino\n\n11%\n7%\n16%\n\n\nWhite\n\n37%\n38%\n64%\n\n\nTwo or more races\n\n8%\n3%\n9%\n\n\nInternational\n\n12%\n32%\nN/A\n'

In [40]:
from IPython.core.display import HTML
HTML(table_html)

In [96]:
new = results[0].find_all('tr')
new

[<tr>
 <th></th>
 <th>Undergrad</th>
 <th>Grad/prof</th>
 <th>US census
 </th></tr>,
 <tr>
 <th>Asian
 </th>
 <td>21%</td>
 <td>13%</td>
 <td>5%
 </td></tr>,
 <tr>
 <th>Black
 </th>
 <td>9%</td>
 <td>5%</td>
 <td>12%
 </td></tr>,
 <tr>
 <th>Hispanic or Latino
 </th>
 <td>11%</td>
 <td>7%</td>
 <td>16%
 </td></tr>,
 <tr>
 <th>White
 </th>
 <td>37%</td>
 <td>38%</td>
 <td>64%
 </td></tr>,
 <tr>
 <th>Two or more races
 </th>
 <td>8%</td>
 <td>3%</td>
 <td>9%
 </td></tr>,
 <tr>
 <th>International
 </th>
 <td>12%</td>
 <td>32%</td>
 <td>N/A
 </td></tr>]

# Q8

In [42]:

cols = new[0].get_text().strip().split('\n')
cols

['Undergrad', 'Grad/prof', 'US census']

# Q9

In [43]:
list1 = []
new1= soup.find_all('th')[41:47]
for c in new1:
    list1.append(c.text.strip())
list1

['Asian',
 'Black',
 'Hispanic or Latino',
 'White',
 'Two or more races',
 'International']

# Q10

In [44]:
list2= []
new2 = soup.find_all('td')[152:170]

In [45]:
soup.find_all('td')[152:170]

[<td>21%</td>,
 <td>13%</td>,
 <td>5%
 </td>,
 <td>9%</td>,
 <td>5%</td>,
 <td>12%
 </td>,
 <td>11%</td>,
 <td>7%</td>,
 <td>16%
 </td>,
 <td>37%</td>,
 <td>38%</td>,
 <td>64%
 </td>,
 <td>8%</td>,
 <td>3%</td>,
 <td>9%
 </td>,
 <td>12%</td>,
 <td>32%</td>,
 <td>N/A
 </td>]

In [46]:
for k in new2:
    list2.append(k.text.strip())
res = [e[:len(e) - 1] for e in list2]
newone = list(map(int, res[0:17]))
newone.append(None)
newone

[21, 13, 5, 9, 5, 12, 11, 7, 16, 37, 38, 64, 8, 3, 9, 12, 32, None]

# Q11

In [47]:
df = pd.DataFrame(index = list1, columns = cols)

In [48]:
df

                   Undergrad Grad/prof US census
Asian                    NaN       NaN       NaN
Black                    NaN       NaN       NaN
Hispanic or Latino       NaN       NaN       NaN
White                    NaN       NaN       NaN
Two or more races        NaN       NaN       NaN
International            NaN       NaN       NaN

In [49]:
df['Undergrad'] = newone[0:6]
df['Grad/prof'] = newone[6:12]
df['US census'] = newone[12:18]

In [50]:
df

                    Undergrad  Grad/prof  US census
Asian                      21         11        8.0
Black                      13          7        3.0
Hispanic or Latino          5         16        9.0
White                       9         37       12.0
Two or more races           5         38       32.0
International              12         64        NaN

# Q12

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Asian to International
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Undergrad  6 non-null      int64
 1   Grad/prof  6 non-null      int64
 2   US census  5 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 192.0+ bytes

# Q13

In [53]:
df_clean_row = df.drop(['International'])
df_clean_row

                    Undergrad  Grad/prof  US census
Asian                      21         11        8.0
Black                      13          7        3.0
Hispanic or Latino          5         16        9.0
White                       9         37       12.0
Two or more races           5         38       32.0

In [56]:
df_clean_column = df.drop(['US census'], axis = 1)
df_clean_column

                    Undergrad  Grad/prof
Asian                      21         11
Black                      13          7
Hispanic or Latino          5         16
White                       9         37
Two or more races           5         38
International              12         64

In [81]:
df_clean = df.fillna(0)
df_clean

                    Undergrad  Grad/prof  US census
Asian                      21         11        8.0
Black                      13          7        3.0
Hispanic or Latino          5         16        9.0
White                       9         37       12.0
Two or more races           5         38       32.0
International              12         64        0.0

In [82]:
import numpy as np

In [83]:
df_clean.values

array([[21., 11.,  8.],
       [13.,  7.,  3.],
       [ 5., 16.,  9.],
       [ 9., 37., 12.],
       [ 5., 38., 32.],
       [12., 64.,  0.]])

In [84]:
type(df_clean.values)

numpy.ndarray

# Q 14

In [91]:
df_clean['Undergrad'].mean()

10.833333333333334

# Q 15

In [87]:
df_clean.std()

Undergrad     6.013873
Grad/prof    21.664872
US census    11.307814
dtype: float64