In [1]:
# Data processing : Handling missing values
# Linear regression using multiple variables

In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.read_csv('homepricesmultivariate.csv')

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
df.bedrooms.median()

3.5

In [7]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
# for getting closest integer greater or less than

In [8]:
median_bedrooms

3

In [13]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df
# fill the na values

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [17]:
reg.intercept_

383724.9999999998

In [18]:
reg.predict([[3000,3,40]])

array([444400.])